.glossary-button {
    height: 50px;
    width: 100px;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: #ffd60a;
    text-decoration: underline;
}