.weeks--dropdown {
    height: 50px;
    width: 100px;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: #ffd60a;
    text-decoration: underline;
    cursor: pointer;
}

.weeks--dropdown:hover {
    transition: 0.4s ease-in-out;
    background-color: #ffd60a;
    color: #001d3d;
}