.searchbar--wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.searchbar {
    height: 30px;
    width: 400px;
    border-radius: 10px;
}

.searchbar--button {
    height: 30px;
    width: 60px;
    border-radius: 10px;
}