::placeholder {
    color: #ffd60a9e;
    font-size: 100%;
    font-family: inherit;
}

.searchbar--wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.searchbar {
    height: 30px;
    width: 400px;
    background-color: transparent;
    border: none;
    color: #ffd60a;
    border-bottom: 1px solid #ffd60a;
}

.searchbar:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #ffd60a;
}

.searchbar--button {
    transition: 0.1s ease-in-out;
    background-color: transparent;
    outline: 1px solid #ffd60a;
    margin-left: 1%;
    border:none;
    color: #ffd60a;
    height: 30px;
    width: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.searchbar--button:hover {
    background-color: #ffd60a;
    color: #001d3d;
    outline: none
}